<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12"><br></div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button type="reset" class="btn btn-secondary" id="restart">Restart</button>
                    <p>Number of Tribes: <span id="populationSize"></span></p>
                    <div class="slidecontainer">
                        <input id="population" class="slider" type="range" min="0" max="40" value="20" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="raiding">
                        <label class="form-check-label" for="raiding">Raiding/Ghazzu</label>
                    </div>
                    <p>Food/Tribe Ratio: <span id="foodR"></span></p>
                    <div class="slidecontainer">
                        <input id="foodRatio" class="slider" type="range" min="0" max="1" value="0.2" step="0.1" />
                    </div>
                    <p>Influence Area <span id="lookA"></span></p>
                    <div class="slidecontainer">
                        <input id="lookArea" class="slider" type="range" min="25" max="250" value="125" step="10" />
                    </div>
                    <p>Look Area <span id="influenceA"></span></p>
                    <div class="slidecontainer">
                        <!-- <input type="range" min="1" max="50" value="20" class="slider" id="population"> -->
                        <input id="influenceArea" class="slider" type="range" min="25" max="250" value="75" step="10" />
                    </div>
                </div>
                <div class="col-lg-9">
                    <span id="footer">click on gameboard to <b>enter</b>  debugging</span>
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="libs/jquery.js"></script>
        <script src="src/Vector.js"></script>
        <script src="src/Food.js"></script>
        <script src="src/Silver.js"></script>
        <script src="src/Tribe.js"></script>
        <script src="src/Desert.js"></script>
        <script src="src/utils.js"></script>  
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="  "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
