<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-2">
                    <button type="reset" class="btn btn-secondary" id="restart">Restart</button>
                    <p>Number of Tribes: <span id="populationSize"></span></p>
                    <div class="slidecontainer">
                        <input id="population" class="slider" type="range" min="0" max="40" value="20" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="raiding">
                        <label class="form-check-label" for="raiding">Enable Raiding/Ghazzu</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="trading">
                        <label class="form-check-label" for="trading">Enable Trading</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="caravansEnabled">
                        <label class="form-check-label" for="caravansEnabled">Enable Caravans</label>
                    </div>
                    <p>Resources Ratio: <span id="resourcesR"></span></p>
                    <div class="slidecontainer">
                        <input id="resourcesRatio" class="slider" type="range" min="0" max="1" value="0.2" step="0.1" />
                    </div>
                    <div class="slidecontainer">
                        <p>Look Area: <span id="lookA"></span></p>
                        <input id="lookArea" class="slider" type="range" min="20" max="120" value="60" step="10" />
                    </div>
                    <div class="slidecontainer">
                        <p>Influence Area: <span id="influenceA"></span></p>
                        <!-- <input type="range" min="1" max="50" value="20" class="slider" id="population"> -->
                        <input id="influenceArea" class="slider" type="range" min="20" max="200" value="90" step="10" />
                    </div>
                </div>
                <div class="col-lg-3">
					<span>Real-time statistics go here</span>
				</div>
                <div class="col-lg-7 text-center">
                    <span id="footer">click on gameboard to <b>enter</b>  debugging</span>
                    <canvas id="canvas" class="d-block"></canvas>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Browserify bundle -->
		<script src="js/bundle.js"></script>

        <!-- Custom JavaScript -->
        <script src="js/init.js"></script>
        <script src="js/Vector.js"></script>
        <script src="js/Water.js"></script>
        <script src="js/Food.js"></script>
        <script src="js/Silver.js"></script>
        <script src="js/Tribe.js"></script>
        <script src="js/Desert.js"></script>
        <script src="js/utils.js"></script>
    </body>
</html>
